In [26]:
from pathlib import Path
import pandas as pd
import os

In [27]:
data_path = Path(os.getcwd()).parent
raw_df = pd.read_csv(f"{data_path}/data/raw_expenses.csv")
df = raw_df.copy()
df.head()

,Cust_ID,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,7069,108385.38420,47,4,Student,Tier_2,21677.076840,0.0,4941.355660,16115.856560,...,22218.556050,34249.324150,2173.608196,778.738604,1061.395322,277.629166,1568.395377,148.462180,226.491392,179.071483
1,3940,16169.75275,55,0,Self_Employed,Tier_3,2425.462912,0.0,344.872003,1906.183910,...,1030.007703,7854.044937,349.143591,167.030575,99.484259,41.885681,68.205140,6.443753,0.000000,23.193867
2,19775,62931.79093,34,0,Self_Employed,Tier_2,12586.358190,0.0,2671.170809,7919.586452,...,6709.559621,24212.252190,807.882186,475.627149,329.291135,250.592316,308.693727,100.112695,0.000000,53.711874
3,13691,144887.62080,60,0,Self_Employed,Tier_2,28977.524170,0.0,5960.673667,19429.451320,...,25128.763720,54240.414020,1379.892240,871.409890,896.243873,380.485607,588.512007,88.558991,0.000000,319.047587
4,1194,38745.82194,56,0,Retired,Tier_1,11623.746580,0.0,1193.149627,4605.883601,...,2924.733230,11978.609070,461.098587,176.953366,184.428592,198.546768,773.353083,13.669649,0.000000,81.696782

In [28]:
print(df.shape)
print(df.info())

(20000, 28)
<class 'pandas.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Cust_ID                          20000 non-null  int64
 1   Income                           20000 non-null  float64
 2   Age                              20000 non-null  int64
 3   Dependents                       20000 non-null  int64
 4   Occupation                       20000 non-null  str
 5   City_Tier                        20000 non-null  str
 6   Rent                             20000 non-null  float64
 7   Loan_Repayment                   20000 non-null  float64
 8   Insurance                        20000 non-null  float64
 9   Groceries                        20000 non-null  float64
 10  Transport                        20000 non-null  float64
 11  Eating_Out                       20000 non-null  float64
 12  Entertainment                    20000 non-null  float64
 13  Utilities                        20000 non-null  float64
 14  Healthcare                       20000 non-null  float64
 15  Education                        20000 non-null  float64
 16  Miscellaneous                    20000 non-null  float64
 17  Desired_Savings_Percentage       20000 non-null  float64
 18  Desired_Savings                  20000 non-null  float64
 19  Disposable_Income                20000 non-null  float64
 20  Potential_Savings_Groceries      20000 non-null  float64
 21  Potential_Savings_Transport      20000 non-null  float64
 22  Potential_Savings_Eating_Out     20000 non-null  float64
 23  Potential_Savings_Entertainment  20000 non-null  float64
 24  Potential_Savings_Utilities      20000 non-null  float64
 25  Potential_Savings_Healthcare     20000 non-null  float64
 26  Potential_Savings_Education      20000 non-null  float64
 27  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(3), str(2)
memory usage: 4.3 MB
None

In [29]:
print(df.isnull().sum())

Cust_ID                            0
Income                             0
Age                                0
Dependents                         0
Occupation                         0
City_Tier                          0
Rent                               0
Loan_Repayment                     0
Insurance                          0
Groceries                          0
Transport                          0
Eating_Out                         0
Entertainment                      0
Utilities                          0
Healthcare                         0
Education                          0
Miscellaneous                      0
Desired_Savings_Percentage         0
Desired_Savings                    0
Disposable_Income                  0
Potential_Savings_Groceries        0
Potential_Savings_Transport        0
Potential_Savings_Eating_Out       0
Potential_Savings_Entertainment    0
Potential_Savings_Utilities        0
Potential_Savings_Healthcare       0
Potential_Savings_Education        0
Potential_Savings_Miscellaneous    0
dtype: int64

In [30]:
df.describe()

,Cust_ID,Income,Age,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
count,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,10000.500000,4.158550e+04,41.031450,1.995950,9115.494629,2049.800292,1455.028761,5205.667493,2704.466685,1461.856982,...,4982.878416,10647.367257,912.197183,473.042650,254.963280,254.031058,436.332808,41.524964,62.417083,144.904987
std,5773.647028,4.001454e+04,13.578725,1.417616,9254.228188,4281.789941,1492.938435,5035.953689,2666.345648,1481.660811,...,7733.468188,11740.637289,1038.884968,537.222853,296.047943,299.973590,503.200658,53.152458,98.842656,169.160951
min,1.000000,1.301187e+03,18.000000,0.000000,235.365692,0.000000,30.002012,154.078240,81.228584,39.437523,...,0.000000,-5400.788673,16.575501,8.268076,3.797926,3.121610,6.200297,0.001238,0.000000,2.091973
25%,5000.750000,1.760488e+04,29.000000,1.000000,3649.422245,0.000000,580.204749,2165.426419,1124.578013,581.011801,...,1224.932636,3774.894323,317.811000,161.913751,84.506870,84.562090,148.013618,11.037421,4.926210,47.637307
50%,10000.500000,3.018538e+04,41.000000,2.000000,6402.751824,0.000000,1017.124681,3741.091534,1933.845509,1029.109727,...,2155.356763,7224.890977,607.038735,307.045856,164.927660,164.740232,285.739582,25.202124,33.127987,93.090257
75%,15000.250000,5.176545e+04,53.000000,3.000000,11263.940490,2627.142320,1787.160895,6470.892718,3360.597508,1807.075251,...,6216.309609,13331.950715,1128.681837,588.419602,313.398240,310.927935,538.983703,52.353736,80.946145,178.257981
max,20000.000000,1.079728e+06,64.000000,4.000000,215945.674700,123080.682000,38734.932930,119816.898100,81861.503460,34406.100170,...,245504.485200,377060.218500,34894.644400,12273.258240,5573.036433,6222.200913,8081.799518,1394.531049,3647.244243,4637.951137

In [31]:
expense_cols = ["Rent","Loan_Repayment","Insurance","Groceries","Transport","Eating_Out","Entertainment","Utilities","Healthcare","Education","Miscellaneous"]
df["total_expenses"] = df[expense_cols].sum(axis = 1)
savings_cols = ["Potential_Savings_Groceries","Potential_Savings_Transport","Potential_Savings_Eating_Out","Potential_Savings_Entertainment","Potential_Savings_Utilities","Potential_Savings_Healthcare","Potential_Savings_Education","Potential_Savings_Miscellaneous"]
df["total_potential_savings"] = df[savings_cols].sum(axis = 1)
df["actual_savings"] = df["Income"] - df["total_expenses"]
df["savings_rate"] = df["actual_savings"] / df["Income"]
df.head()

,Cust_ID,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,...,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous,total_expenses,total_potential_savings,actual_savings,savings_rate
0,7069,108385.38420,47,4,Student,Tier_2,21677.076840,0.0,4941.355660,16115.856560,...,1061.395322,277.629166,1568.395377,148.462180,226.491392,179.071483,74136.060041,6413.791720,34249.324159,0.315996
1,3940,16169.75275,55,0,Self_Employed,Tier_3,2425.462912,0.0,344.872003,1906.183910,...,99.484259,41.885681,68.205140,6.443753,0.000000,23.193867,8315.707810,755.386866,7854.044940,0.485724
2,19775,62931.79093,34,0,Self_Employed,Tier_2,12586.358190,0.0,2671.170809,7919.586452,...,329.291135,250.592316,308.693727,100.112695,0.000000,53.711874,38719.538740,2325.911084,24212.252190,0.384738
3,13691,144887.62080,60,0,Self_Employed,Tier_2,28977.524170,0.0,5960.673667,19429.451320,...,896.243873,380.485607,588.512007,88.558991,0.000000,319.047587,90647.206810,4524.150194,54240.413990,0.374362
4,1194,38745.82194,56,0,Retired,Tier_1,11623.746580,0.0,1193.149627,4605.883601,...,184.428592,198.546768,773.353083,13.669649,0.000000,81.696782,26767.212867,1889.746828,11978.609073,0.309159

In [32]:
df[df.select_dtypes(include="float").columns] = df.select_dtypes(include="float").round(2)
df.head()

,Cust_ID,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,...,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous,total_expenses,total_potential_savings,actual_savings,savings_rate
0,7069,108385.38,47,4,Student,Tier_2,21677.08,0.0,4941.36,16115.86,...,1061.40,277.63,1568.40,148.46,226.49,179.07,74136.06,6413.79,34249.32,0.32
1,3940,16169.75,55,0,Self_Employed,Tier_3,2425.46,0.0,344.87,1906.18,...,99.48,41.89,68.21,6.44,0.00,23.19,8315.71,755.39,7854.04,0.49
2,19775,62931.79,34,0,Self_Employed,Tier_2,12586.36,0.0,2671.17,7919.59,...,329.29,250.59,308.69,100.11,0.00,53.71,38719.54,2325.91,24212.25,0.38
3,13691,144887.62,60,0,Self_Employed,Tier_2,28977.52,0.0,5960.67,19429.45,...,896.24,380.49,588.51,88.56,0.00,319.05,90647.21,4524.15,54240.41,0.37
4,1194,38745.82,56,0,Retired,Tier_1,11623.75,0.0,1193.15,4605.88,...,184.43,198.55,773.35,13.67,0.00,81.70,26767.21,1889.75,11978.61,0.31

In [33]:
df.to_csv(f"{data_path}/data/cleaned_expenses.csv", index=False)